<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sc.variable name="sourceFolder" value="c:\Works\Allwin\Sitecore_Hackathon_2017"></sc.variable>
    <unicorn>
      <configurations>
        <configuration name="LiveList.Serialization" description="Serialization for Live List module">
          <targetDataStore physicalRootPath="$(sourceFolder)\unicorn\LiveList" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <!-- Templates -->
            <include name="LiveList.Templates" database="master" path="/sitecore/templates/LiveList">
            </include>

            <!-- Branches -->
            <include name="LiveList.Branches" database="master" path="/sitecore/templates/Branches/LiveList">
            </include>

            <!-- Media -->
            <include name="LiveList.Media" database="master" path="/sitecore/media library/LiveList">
            </include>

            <!-- System -->
            <include name="LiveList.System" database="master" path="/sitecore/system/Modules/LiveList">
            </include>

            <!-- Renderings -->
            <include name="LiveList.Renderings" database="master" path="/sitecore/layout/Renderings/LiveList">
            </include>

            <!-- Layouts -->
            <include name="LiveList.Layouts" database="master" path="/sitecore/layout/Layouts/LiveList">
            </include>

            <!-- Device -->
            <include name="LiveList.Device" database="master" path="/sitecore/layout/Devices/LiveList">
            </include>

          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>