<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="IgnoreUrlPrefixes">
        <patch:attribute name="value">|/signalR/</patch:attribute>
      </setting>
    </settings>
    <events>
      <event name="item:saving">
        <handler type="Allwin.Sitecore.Modules.LiveList.EventHandlers.LiveListEventHandlers, Allwin.Sitecore.Modules.LiveList" method="OnItemSaving"/>
      </event>
      <event name="item:saved">
        <handler type="Allwin.Sitecore.Modules.LiveList.EventHandlers.LiveListEventHandlers, Allwin.Sitecore.Modules.LiveList" method="OnItemSaved"/>
      </event>
    </events>
    <pipelines>
      <initialize>
        <processor type="Allwin.Sitecore.Modules.LiveList.Pipelines.RegisterPublicRoutes, Allwin.Sitecore.Modules.LiveList" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
        <processor type="Allwin.Sitecore.Modules.LiveList.Pipelines.RegisterPrivateRoutes, Allwin.Sitecore.Modules.LiveList" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
      </initialize>
    </pipelines>
    <controlSources>
      <source mode="on" namespace="Allwin.Sitecore.Modules.LiveList.ContentEditor.Controls" assembly="Allwin.Sitecore.Modules.LiveList" prefix="livelist" />
    </controlSources>
  </sitecore>
</configuration>
